/**
 * The file shows examples of all the Cualdron modules
 */

@import "bootstrap";

// All modules
@import "modules/alerts";
@import "modules/buttons";
@import "modules/lists";
@import "modules/forms";
@import "modules/modifiers";
@import "modules/nav";
@import "modules/panes";
@import "modules/typography";

//------------------------------------------------------------------------------
// Examples.html styles
//------------------------------------------------------------------------------

// localized vars:
$cauldron-border: #ccc;

html, body {

}
body {
	background-image: inline-image('texture-2.png');
	color: #333;
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 1.42;
	//overflow-x: hidden;
}
h1.title {
	font-size: 380%;
	font-family: 'Cookie', cursive;
	margin: .5em 0 .28em;
}

h2 {
	@include clearfix();
	@include breakpoint(phones) {
		font-size: 100%;
	}
}

h4 {
	color: #999;
}

.logo {
	display: block;
	width: 130px;
	margin: 0 auto;
	img {
		max-width: 100%;
	}

	@include breakpoint(large) {
		width: 110px;
	}
}
a {
	color: #f5871f;
	&:hover, &:active {
		color: darken(#f5871f, 10%);
	}
}

.forkme {
	position: absolute;
	display: block;
	width: 149px;
	height: 149px;
	z-index: 999;
	right: 0;
	@include transition(all .2s ease-in-out);

	&:hover { opacity: .75 }
}


.sidebar {
	//background: white;
	position: fixed;
	width: 220px;
	height: 100%;
	padding: 20px 40px 0;
	font-size: 90%;
	border-right: 1px solid $cauldron-border;
	@include box-sizing(border-box);

	@include breakpoint(small) {
		display: none;
	}

	@include breakpoint(large) {
		width: 190px;
	}

	h3 {
		padding-bottom: 8px;
		margin-bottom: 0;
	}

	a {
		color: #777;
		text-decoration: none;
		font-weight: 500;
		display: block;
		line-height: 1.72;
		&:hover {
			color: black;
		}
	}
}

.sidebar-nav {
	margin-left: 0;
	margin-bottom: 2em;
	list-style: none;
	li {
		margin: 0;
	}
}

.content {
	position: relative;
	margin-left: 220px;
	overflow: hidden;

	@include breakpoint(large) {
		margin-left: 190px;
	}
	@include breakpoint(small) {
		margin-left: 0px;
	}

	> section {
		padding: 40px 100px;
		border-bottom: 1px solid $cauldron-border;

		hr {
			height: 1px;
			margin: 0px;
			background-color: $cauldron-border;
			border: none;
			font-size: 0px;
			margin: 40px 0;
			margin-right: -100px;
		}

		@include breakpoint(large) {
			padding: 40px;
		}
	}
}

.section-title {
	margin: 0;
	padding: 20px 100px;
	//font-size: 300%;
	//font-family: 'Cookie', cursive;
	background: rgba($cauldron-border, .25);
	//color: ;
	margin-top: -1px;
	//margin-left: -1px;
	//background: rgba(#efefef, .5);
	border-bottom: 1px solid $cauldron-border;

	@include breakpoint(large) {
		padding: 20px 40px;
	}
}



.view-source {
	font-size: 60%;
	float: right;
	text-decoration: none;
	color: #999;
	font-weight: 400;
	&:hover {
		color: #555;
	}

	@include breakpoint(small-phones) { display: none }
}

.prettyprint {
	background: #efefef;
	border: none;
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	max-width: 100%;
	@include box-sizing(border-box);

	&.large {
		font-size: 90%;

		@include breakpoint(large) {
			font-size: 80%;
		}
	}

	&.no-bg {
		background: none;
		padding: 0;
	}

	@include breakpoint(small-phones) {
		font-size: 60%;
		//white-space: nowrap;
		overflow: auto;
	}

}

.tab-in {
	margin-left: 3rem;
}

.pane {
	border: 1px solid #ccc;
	@include border-radius($border-radius);
	.pane-header {
		border-bottom: 1px solid #ccc;
	}
}