/**
 * Base where you set your app-wide styles
 */


// Defaults
$body-background: #fff !default;

//------------------------------------------------------------------------------
// Let the base overrides commence
//------------------------------------------------------------------------------
html, body {
	//height: 100%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}

html {
	background: transparent;
}

body {
	background: $body-background;
	font-family: $font-body;
}

pre {
	font-size: 11px;
	font-size: .85rem;
}

// 1px horizontal dividers
hr {
	height: 1px;
	margin: 0px;
	background-color: $light-gray;
	border: none;
	font-size: 0px;
	margin: 0 auto;
}

a {
	color: #ff0;
	text-decoration: none;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: $font-heading;
}

