$border-radius: 3px !default;

$alert-success: #a3ec86 !default;  // success
$alert-info: #cfeef9 !default;     // grey
$alert-warning: #ffe993 !default;  // light orange
$alert-danger: #fd2600 !default;   // red

.alert {
	padding: .5em;
	margin-bottom: 1em;
	line-height: 1;
	letter-spacing: 0;
	border: 1px solid #ccc;
	background-color: #fff;
	@include border-radius($border-radius);

	// Headings for larger alerts
	h4 {
		margin-top: 0;
		color: inherit;
	}

	// Provide class for links that match alerts
	.alert-link {
		font-weight: bold;
	}

	// Improve alignment and spacing of inner content
	> p,
	> ul {
		margin-bottom: 0;
	}
	> p + p {
		margin-top: 5px;
	}

	// close button
	.close {
		position: relative;
		top: -2px;
		right: -21px;
		color: inherit;
	}
}



.alert-success {
	background-color: $alert-success;
	border: none;
}

.alert-info {
	background-color: $alert-info;
	border: none;
}

.alert-warning {
	background-color: $alert-warning;
	border: none;
}

.alert-danger {
	background-color: $alert-danger;
	color: #fff;
	border: none;
}