$background-danger: #fd2600 !default;


.alert {
	padding: .5em;
	margin-bottom: 1em;
	line-height: 1;
	letter-spacing: 0;
	// Headings for larger alerts
	h4 {
		margin-top: 0;
		color: inherit;
	}

	// Provide class for links that match alerts
	.alert-link {
		font-weight: bold;
	}

	// Improve alignment and spacing of inner content
	> p,
	> ul {
		margin-bottom: 0;
	}
	> p + p {
		margin-top: 5px;
	}
}

.alert-dismissable {
	 padding-right: 20px;

	// Adjust close link position
	.close {
		position: relative;
		top: -2px;
		right: -21px;
		color: inherit;
	}
}

// green
.alert-success {

}

// blue
.alert-info {
}

// yellow
.alert-warning {
}

// red
.alert-danger {
	background: $background-danger;
	color: $white;
}