// Defaults
$border-radius: 3px !default;
$btn-padding: .5em 1.25em !default;
$btn-margin: 0 .2em .7em 0 !default;

$btn-primary-bg: #ff6418 !default;
$btn-primary-colour: white !default;
$btn-secondary-bg: #515151 !default;
$btn-secondary-colour: white !default;
$btn-tertiary-bg: #ccc !default;
$btn-tertiary-colour: #333 !default;

//------------------------------------------------------------------------------
// Button styles
//------------------------------------------------------------------------------

.btn, button {
	background: none;
	border: none;
	cursor: pointer;
	padding: $btn-padding;
	margin: $btn-margin;
	white-space: nowrap;
	display: inline-block;
	text-align: center;
	@include border-radius($border-radius);
	@include transition(all .1s ease-in-out);

	&:active {
		@include box-shadow(inset 0 1px .75em rgba(black, .5));
		@include border-radius($border-radius);
	}

	// Modifiers: 1 propert
	&.pill { @include border-radius(50em); }
	&.disabled { @include opacity(.5); cursor: default; }
	&.full-width, &.block { display: block; }
}

.btn-primary {
	@extend .btn;
	background: $btn-primary-bg;
	color: $btn-primary-colour;
	&:hover, &:active {
		background-color: darken($btn-primary-bg, 20%);
	}
	&:active {
		color: rgba($btn-primary-colour, .2);
		//@include opacity(.8);
	}
}

.btn-secondary {
	@extend .btn;
	background: $btn-secondary-bg;
	color: $btn-secondary-colour;
	&:hover, &:active {
		background-color: darken($btn-secondary-bg, 20%);
	}
	&:active {
		color: rgba($btn-secondary-colour, .2);
		@include opacity(.8);
	}
}

.btn-tertiary {
	@extend .btn;
	background: $btn-tertiary-bg;
	color: $btn-tertiary-colour;
	&:hover, &:active {
		color: $btn-tertiary-colour;
		background-color: darken($btn-tertiary-bg, 20%);
	}
	&:active {
		color: lighten($btn-tertiary-colour, 20%);
		@include opacity(.8);
	}
}


/**
 * Button modifiers, used in conjunction with above btns:
 *   class="btn white-btn"
 */
.white-btn {
	background-color: white;
	color: black;
	border: 1px solid #ccc;

	&:hover {
		background: #efefef;
	}

	&:active {
		color: #999;
		@include box-shadow(inset 0 1px .75em rgba(black, .15));
	}
}

.black-btn {
	background-color: black;
	color: white;

	&:hover {
		color: #ccc;
	}

	&:active {
		color: #999;
	}
}