// Defaults (overridden)
$border-radius: 3px !default;
$btn-primary-bg: #fd2600 !default;
$btn-primary-colour: white !default;
$btn-secondary-bg: #515151 !default;
$btn-secondary-colour: black !default;

//------------------------------------------------------------------------------
// Button styles
//------------------------------------------------------------------------------

.btn {
	border: none;
	padding: .35em 1.25em;
	@include border-radius($border-radius);
	@include transition(all .2s ease-in-out);

	// Modifiers: 1 propert
	&.round { @include border-radius(50%); }
	&.disabled { @include opacity(.5); }
}

.btn-primary {
	@extend .btn;
	background-color: $btn-primary-bg;
	color: $btn-primary-colour;
	&:hover {
		background-color: darken($btn-primary-bg, 20%);
	}
	&:active {
		background-color: darken($btn-primary-bg, 50%);
		@include opacity(.8);
	}
}

.btn-secondary {
	@extend .btn;
	background: $btn-secondary-bg;
	color: $btn-secondary-colour;
	&:hover {
		background-color: darken($btn-secondary-bg, 20%);
	}
}

.btn-tertiary {
	@extend .btn;
}


/**
 * Button modifiers:
 * Used in conjunction with above btns: class="btn-primary white-btn"
 */
.white-btn {
	background-color: white;
	color: black;

	&:hover {
		background: black;
		color: white;
	}
}