// Defaults
$border-radius: 3px !default;

$btn-primary-bg: #ff6418 !default;
$btn-primary-colour: white !default;
$btn-secondary-bg: #515151 !default;
$btn-secondary-colour: white !default;
$btn-tertiary-bg: #ccc !default;
$btn-tertiary-colour: #333 !default;

//------------------------------------------------------------------------------
// Button styles
//------------------------------------------------------------------------------

.btn, button {
	background: none;
	border: none;
	cursor: pointer;
	padding: .35em 1.25em;
	margin-right: .2em;
	margin-bottom: .7em;
	white-space: nowrap;
	display: inline-block;
	@include border-radius($border-radius);
	@include transition(all .1s ease-in-out);

	// Modifiers: 1 propert
	&.pill { @include border-radius(50em); }
	&.disabled { @include opacity(.5); cursor: default; }
	&.full-width, &.block { display: block; }
}

.btn-primary {
	@extend .btn;
	background: $btn-primary-bg;
	color: $btn-primary-colour;
	&:hover {
		background-color: darken($btn-primary-bg, 20%);
	}
	&:active {
		background-color: darken($btn-primary-bg, 50%);
		@include opacity(.8);
	}
}

.btn-secondary {
	@extend .btn;
	background: $btn-secondary-bg;
	color: $btn-secondary-colour;
	&:hover {
		background-color: darken($btn-secondary-bg, 20%);
	}
	&:active {
		background-color: darken($btn-secondary-bg, 50%);
		@include opacity(.8);
	}
}

.btn-tertiary {
	@extend .btn;
	background: $btn-tertiary-bg;
	color: $btn-tertiary-colour;
	&:hover {
		color: $btn-tertiary-colour;
		background-color: darken($btn-tertiary-bg, 20%);
	}
	&:active {
		background-color: darken($btn-tertiary-bg, 50%);
		@include opacity(.8);
	}
}


/**
 * Button modifiers:
 * Used in conjunction with above btns: class="btn-primary white-btn"
 */
.white-btn {
	background-color: white;
	color: black;
	border: 1px solid #ccc;

	&:hover {
		background: #efefef;
	}
}

.black-btn {
	background-color: black;
	color: white;

	&:hover {
		color: #ccc;
	}
}