$field-padding: 8px !default;
$field-border-radius: 2px !default;
$field-focus: #a5cad8;
@if $border-radius {
	//$field-border-radius: $border-radius;
}

//------------------------------------------------------------------------------
// Form structure
//------------------------------------------------------------------------------
.form-row {
	margin-bottom: $field-padding;

	> label {
		display: block;
		padding: 3px 0;
	}
}


//------------------------------------------------------------------------------
// Input, textarea, select
//------------------------------------------------------------------------------
input, textarea, select {
	padding: $field-padding;
	border: 1px solid #ccc;
	@include border-radius($field-border-radius);
	@include box-shadow(none);

	&:focus {
		outline: none;
		@include box-shadow(0 0 10px $field-focus);
	}
}