$border-radius: 3px !default;

$form-font-colour: rgba(black, 0.75) !default;
$form-font-size: 0.77778rem !default;

$form-field-width: 400px !default;
$form-field-background: white !default;
$form-field-border: 1px solid #ccc !default;
$form-field-focus: #a5cad8 !default;
$form-field-margin: 0 0 0.88889rem 0 !default;
$form-field-padding: 0.44444rem !default;
$form-field-inset-shadow: true !default;

$form-label-width: 150px !default;


//------------------------------------------------------------------------------
// Form structure
//------------------------------------------------------------------------------
.form-row {
	padding: 5px;
	padding-bottom: 10px;
	margin-left: -5px;
	//line-height: 1;
	@include clearfix();

	> label {
		display: block;
		padding: $form-field-padding 0;
	}

	&.inline {
		label {
			position: absolute;
			width: $form-label-width;
			text-align: right;
		}
		input:not([type="radio"]):not([type="checkbox"]), select, textarea {
			margin-left: $form-label-width + 15px;
			max-width: $form-field-width;
		}

		.radio-group {
			margin-left: $form-label-width + 15px;
			padding: $form-field-padding 0;

			label {
				position: relative;
				width: auto;
				text-align: left;
			}
		}

		button:first-child, .btn-primary {
			margin: $form-field-padding 0;
			margin-left: $form-label-width + 10px;
		}
	}
}

label {
	font-size: .9rem;
	font-weight: bold;
}


//------------------------------------------------------------------------------
// Input, textarea, select
//------------------------------------------------------------------------------
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
textarea, select {
	webkit-appearance: none;
	background-color: $form-field-background;
	border: $form-field-border;
	color: $form-font-colour;
	display: block;
	width: $form-field-width;
	max-width: 100%;

	font-size: $form-font-size;
	//margin: $form-field-margin;
	padding: $form-field-padding;
	height: 2.05556rem;

	@include transition(all 0.15s linear);
	@include box-sizing(border-box);
	@include border-radius($border-radius);

	@if $form-field-inset-shadow == true {
		@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
	}
}

textarea {
	min-height: 150px;
}

//------------------------------------------------------------------------------
// Radio, checkbox
//------------------------------------------------------------------------------
input[type="radio"], input[type="checkbox"] {
	& + label {
		margin-right: 20px;
		font-weight: normal;
	}
}

//------------------------------------------------------------------------------
// iOS 7 style forms
//------------------------------------------------------------------------------

