.clearfix     { @include clearfix; }

.is-hidden    { display:    none !important; }
.is-invisible { visibility: none !important; }
.is-disabled  { @include opacity(.5); @include filter(blur(1px)); }

.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.left         { float: left  !important; }
.right        { float: right !important; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }

.mt0         { margin-top:    0   !important; }
.mt1         { margin-top:    1em !important; }
.mb0         { margin-bottom: 0   !important; }
.mb1         { margin-bottom: 1em !important; }

.white       { color: #fff; }
.black       { color: #000; }

.opacity-0   { opacity: 0 !important; }
.opacity-50  { opacity: .5 !important; }
.opacity-100 { opacity: 1 !important; }

// font-50 to font-200: percentange calcs
@for $i from 5 through 20 {
  .font-#{$i*10} { font-size: $i*10%; }
}
