$pane-header-padding: 10px 20px !default;
$pane-content-padding: 20px !default;

.panes {
	position: relative;
}

.pane {
	@include box-sizing(border-box);
}

.pane-menubar {
	padding: $pane-content-padding;
}

.pane-header {
	padding: $pane-header-padding;
	text-transform: uppercase;
}

.pane-content {
	padding: $pane-content-padding;
}